{% extends 'fmsapp/layout1.html' %}
{% load static %}

{% block title %} FMS | Home {% endblock title %}

{% block contents %}
    <div class="container"> 
        <p class="title-1 m-b-25">overview</p>
        <div class="row"> 
            <div class="col-lg-4 col-sm-6">
                <div class="overview-item overview-item--c1">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon"><i class="zmdi zmdi-account-o"></i></div>
                                <div class="text">
                                    <h2>{{workerscount}}</h2>
                                    <span>Total Staff</span>
                                </div>                            
                            <div class="overview-chart">
                                <canvas id=""></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} second column {% endcomment %}
             <div class="col-lg-4 col-sm-6">
                <div class="overview-item overview-item--c2">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon"><i class="fas fa-copy"></i></div>
                                <div class="text">
                                    <h2>{{depts}}</h2>
                                    <span>Total Departments</span>
                                </div>                            
                            <div class="overview-chart">
                                <canvas id=""></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% comment %} Third Column {% endcomment %}
             <div class="col-lg-4 col-sm-6">
                <div class="overview-item overview-item--c3">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon"><i class="fas fa-archive"></i></div>
                                <div class="text">
                                    <h2>{{fishes.total__sum}}</h2>
                                    <span>Total Fishes</span>
                                </div>                            
                            <div class="overview-chart">
                                <canvas id=""></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ redirect_to_login_immediately }}
{% endblock contents %}